pydantic
langchain
langchain-openai
langchain-community
langchain-anthropic
openai
numpy
pandas
matplotlib
matplotlib-inline
scipy
transformers
PyYAML
google-search-results
pypdf
rdkit
ipykernel
jupyter
tensorboard
pymatgen
dockstring
pytest
torch
scikit-learn
xgboost
selfies
torch_geometric
datasets
